h4{
    font-style: italic;
}

h4.sidebar-profile-name{
    font-style: normal;
}

h2{
    border-bottom: 3px dotted #f0f8ff;
}

h2::before {
    content: "#";
    color: #00B4E6;
    padding-right: 7.5px;    
}

.markdown h3{
    font-size: 2.0rem;
}

div#cover{
    filter: blur(4px);
}

nav#sidebar{
    background-color: rgba(120, 120, 120, 0.25);
}
