h4{
    font-style: italic;
}

h4.sidebar-profile-name{
    font-style: normal;
}

h2{
    border-bottom: 3px dotted #f0f8ff;
}

h2::before {
    content: "#";
    color: #00B4E6;
    padding-right: 7.5px;    
}

.markdown h3{
    font-size: 2.0rem;
}

div#cover{
    filter: blur(4px);
}

nav#sidebar{
    background-color: rgba(120, 120, 120, 0.4);
}

#sidebar .sidebar-profile .sidebar-profile-name,
#sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-bio,
#sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-job,
#sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-location {
    color: rgb(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
}

#sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc,
#sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-icon {
    color: rgb(255, 255, 255);
}

#sidebar[data-behavior="1"] ul.sidebar-buttons li.sidebar-button .sidebar-button-link .sidebar-button-desc {
    font-family: 'Fira Sans', sans-serif;
}

html, h1, h2, h3, h4, h5, h6, .post .post-content {
    font-family: 'Fira Sans', sans-serif;
}

.pub-myself{
    font-weight: bold;
    border-bottom: 1px solid #000000;
}

